<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://thymeleaf.org.thymeleaf-extras-springsecurity">
    <head th:fragment="head">
        <title>Abarrotes</title>
        <meta charset="UTF-8">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_VENDEDOR')">
        <li class="nav-item px-2">
            <a class="nav-link" th:href="@{/cliente/listado}" th:text="#{plantilla.clientes}">Clientes</a>
        </li>
        <a class="nav-link" th:href="@{/articulo/listado}" th:text="#{plantilla.articulos}">Articulos</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
        <li class="nav-item mr-3">
            <a href="#" class="nav-link">
                <i class="fas fa-user"></i>
                </form>
        </li>
    </ul>
    <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">
                <i class="fas fa-sign-in-alt"> Login</i>
            </a>
        </li>
    </ul>
</div>
</div>
</nav>
</header>
<footer th:fragment="footer" class="position-fixed bottom-0 start-0 end-0 bg-dark text-white mt-5 p-2">
    <div class="container">
        <div class="col">
            <p class="lead text-center">
                &COPY [[#{plantilla.derechos}]]

                <a th:href="@{/(lang=es)}">ES</a> | 

                <a th:href="@{/(lang=en)}">EN</a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>