
<html xmlns:th="http://www.thymeleaf.org">
    <html xmlns:th="http//www.thymeleaf.org">
        <head>
            <title>TODO supply a title</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        </head>
        <body>
            <header th:replace="layout/plantilla :: header" />
            <div class="contenido">
                <hi>Lista de clientes</hi>
                <br />
                <a th:href="@{/cliente/nuevo}">Nuevo cliente</a>
                <br />
                <br />
                <div th:if:"${clientes != null and !clientes.empty}">
                    <table border="1">
                        <thead>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Limite</th>
                        <th colsapn="2">Acciones</th>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${clientes}">
                                <td th:text="${item.nombre}"></td>
                                <td th:text="${item.apellidos}"></td>
                                <td th:text="${item.correo}"></td>
                                <td th:text="${item.telefono}"></td>
                                <td th:text="${#numbers.formatDecimal(item.credito.limite, 3, 2)}"></td>
                                <td><a th:href="@{/cliente/modificar/} + ${item.idCliente}">Modificar</a></td>
                                <td><a th:href="@{/cliente/eliminar/} + ${item.idCliente}">eliminar</a></td>

                            </tr>
                        </tbody>
                    </table>
                    </body>
                </div>
                <div th:if:"${clientes == null and or clientes.empty}">
                    La lista esta vacia
                </div>
            </div>
            <footer th:replace="layout/plantilla :: footer" />
    </html>
